@font-face {
  font-family: 'Gill Sans';
  src: url('../../fonts/GillSans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../../fonts/GillSansItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../../fonts/GillSansBold.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
